.contact__title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
  
  @media only screen and (max-width: 375px) {
  #message {
    height: 100px;
  }

}  

@media only screen and (max-width: 320px) {
  .contact__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  #message {
    height: 50px;
  }
}