.navbar {
  background-color: slategray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar__hamburger {
  display: none;
}

.navbar__nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__logo {
 color: pink;
}

.navbar__elements {
  font-family: 'DM Serif Display', serif;
  font-size: 1.3rem;
  color: rgb(247, 137, 142);
  display: inherit;
  padding: 0 0.6rem;
  text-decoration: none;
}

.navbar__elements:hover {
  color: brown;
  cursor: pointer;
}

/* responsive */
@media screen and (max-width: 380px) {
  .navbar__elements {
    display: none;
  }
  .navbar__hamburger {
    display: flex;
    justify-content: right;
  }
} 