.navbar__elements {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  color: rgb(10, 108, 253);
  display: inherit;
  text-decoration: none;
  transition: all 0.5s ease-in;
  margin-right: 8px;
  margin-left: 8px;
}

.navbar__elements:hover {
  color: rgb(8, 8, 48);
  cursor: pointer;
}

/*Mobile Query*/
@media only screen and (max-width: 480px) {
  .navbar-brand {
    margin-right: 40px;
  }
}