.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.hamburger:focus {
  outline: none;
}

.hamburger__line {
  width: 30px;
  height: 2px;
  background: wheat;
}