 .mobile__navbar--collapsed {
  background-color: azure;
  list-style: none;
  font-family: 'DM Serif Display', serif;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
 }

 .mobile__navbar--expanded {
  background-color: azure;
  list-style: none;
  font-family: 'DM Serif Display', serif;
  width: 100%;
  height: 150px;
  transition: all 0.5s ease-in;
 }

.mobile__navbar__list {
  display: flex;
  justify-content: left;
  padding: 4px;
  font-size: 1.2rem;
  color: rgb(10, 108, 253);
  transition: all 0.5s ease-in;
}

.mobile__navbar__list:hover {
  color: rgb(8, 8, 48);
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (min-width: 800px) and (max-width: 1280px) {
  ul {
    display: none;
  }
}